# Core Django
Django==5.2.3
djangorestframework==3.16.1
python-dotenv==1.0.0

# Database
psycopg2-binary==2.9.9

# CORS
django-cors-headers==4.9.0

# Production server
gunicorn==21.2.0

# Utilities
Unidecode==1.4.0
